/* checkers by dave hemmer */

html,body{
  -webkit-user-select: none;
}

body {
	/*text-align: center;*/
}
img {
	margin: 8px 0 0 -7px;
}
#game-board {
	margin: auto auto;
}
.game-spot {
	margin: 0 0 0 0;
	width: 70px;
	height: 70px;
}
.red-square {
	background-color: red;
}
.blue-square {
	background-color: blue;
	cursor: not-allowed;	
}
.game-piece {
	position: absolute;
	z-index: 999;
}